* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
    font-family: "Instrument Sans", serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.navList {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navList li {
    margin-top: 5px;
}

.rotateImg {
    width: 250px;
    margin-top: 150px;
    margin-left: 60px;
}

.navlistA {
    color: black;
    font-size: 32px;
    font-weight: 600;
    margin-left: 5%;
}

.navLinks {
    border-bottom: 3px solid black;
}

.navlistA:hover {
    background-color: black;
    color: whitesmoke;
}

.navigation {
    position: fixed;
    top: 0;
    width: 20%;
    height: 100%;
    border-right: 3px solid black;
    background-color: whitesmoke;
    z-index: 10;
}

.logo {
    text-align: center;
    height: 215px;
    border-bottom: 3px solid black;
    background-color: black;
    padding-top: 50px;
}

.logo a {
    color: whitesmoke;
    font-size: 55px;
    font-size: 700 !important;
    margin-top: 40px;
}

.logo span {
    font-size: xx-large;
    font-weight: 600;
    color: black;
    margin-top: 200px;
}

.logoImg {
    width: 100%;
    z-index: 0;
}

.w1,
.w3 {
    word-spacing: 7px;
    background-color: rgba(0, 0, 0, 1);
    color: whitesmoke;
    height: 70px;
    margin-top: 24%;
}

.box {
    position: absolute;
    margin-left: 45%;
    margin-top: 2000px;
    margin-bottom: 200px;
    width: 150px;
    height: 150px;
    background-color: black;
}

.starterText {
    width: 80%;
    height: 950px;
    font-size: 55px;
    font-weight: 700;
    margin-left: 20%;
    text-align: center;
    border-bottom: 3px solid black;
    background: url("https://www.luxbmx.com/cdn/shop/collections/632ad685a224470e6969b347_DSC04578.jpg?v=1714530034");
    opacity: 0.8;
}

.starterText:hover {}

.starterText {
    display: flex;
    justify-content: center;
}

.aboutAss {
    width: 80%;
    margin-top: 0;
    margin-left: 20%;
    background-color: black;
    min-height: 690px;
}

.myLove {
    width: 50%;
    border-radius: 15px;
    margin-top: 2%;
    z-index: 0;
}

.aboutAsss {
    font-size: xx-large;
    font-weight: 600;
    color: whitesmoke;
    margin-left: 50px;
    padding: 10px;
}

.aboutAssss {
    font-size: xx-large;
    font-weight: 700;
    color: whitesmoke;
    margin-left: 50px;
    padding: 10px;
}

.gayTeam {
    width: 80%;
    margin-left: 20%;
    color: black;
}

.mainContentGays {
    border-top: 3px solid whitesmoke;
    width: 100%;
    border-bottom: 3px solid whitesmoke;
    min-height: 400px;
}

.gayInfo {
    display: flex;
}

.gayPhoto {
    width: 600px;
}

.gayText {
    width: 40%;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}

.gayHeader {
    font-size: 24px;
    font-weight: 600;
    padding-top: 2%;
    padding: 2%;
    padding-left: 2%;
    width: 100%;
    border-bottom: 3px solid whitesmoke;
    border-top: 3px solid whitesmoke;
}

.shitBox {
    width: 80%;
    margin-left: 20%;
}

.imgImg {
    border-top: 3px solid black;
    width: 100%;
    border-bottom: 3px solid black;
}

.flyingShit,
.flyingShit2 {
    position: absolute;
    margin-top: -40%;
    margin-left: 15%;
    font-size: 32px;
    font-weight: 700;
    z-index: 10;
    background-color: rgba(0, 0, 0, 1);
    color: whitesmoke;
}

.mainContentGays {
    background-color: black;
}

.gayInfo,
.gayText,
.gayHeader {
    color: whitesmoke;
}

.items_grid {
    width: 90%;
    margin-left: 5%;
}

.item {
    width: 23%;
    margin: 1%;
    border: 3px solid black;
    min-height: 300px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
}

.item:hover {
    opacity: 0.6;
}

.item img {
    width: 100%;
    border-radius: 15px;
}

.descItem,
.priceItem {
    font-size: 24px;
    font-weight: 600;
    padding: 5px;
}

.line11 {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.shitBox {
    background-color: black;
}

.zalupaScreen,
.zalupaScreen2 {
    width: 80%;
    margin-left: 20%;
    height: auto;
}

.zalupaScreen2 img {
    width: 100%;
    opacity: 0.8;
}

.zalupaScreen img {
    width: 100%;
    opacity: 0.8;
}

.partnersScreen {
    margin-top: -5px;
    width: 90%;
    margin-left: 20%;
    height: auto;
    border-bottom: 3px solid black;
}

.partnesrWr {
    width: 80%;
    margin: 0 auto;
}

.partners {
    display: flex;
    flex-direction: row;
}

.prImg {
    width: 200px;
    margin: 5px 50px 75px 60px;
}

.lastScreen {
    width: 80%;
    margin-left: 20%;
    height: 40vh;
    border: 3px solid black;
}

.lastScreen {
    background-color: black;
    color: whitesmoke;
}

.footerLoc,
.footerCont {
    margin: 0;
    border-bottom: 3px solid whitesmoke;
    border-right: 3px solid whitesmoke;
    width: 30vw;
    height: 20vh;
}

.footer1Wr {
    display: flex;
}

.footerCont {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footerCont div {
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
}

.footerCont div a {
    color: whitesmoke;
    font-size: 32px;
    font-weight: 700;
    margin-top: 5%;
}

.footerLoc {
    font-size: 32px;
    font-weight: 700;
}

.footer2wr p {
    font-size: 32px;
    font-weight: 700;
}

.footerLoc p {
    margin: 5px;
    margin-top: 15px;
}

.footer2wr {
    margin-top: -40px;
    margin-left: 5px;
    width: 60vw;
    height: 20vh;
    border-right: 3px solid whitesmoke;
}

.logoFooter {
    position: absolute;
    right: 110px;
    margin-top: -280px;
    color: whitesmoke;
    font-size: 55px;
    font-weight: 700;
}


/*adaptivity*/

@media screen and (max-width: 1599px) {
    .rotateImg {
        margin-left: 20px;
        margin-top: 25px;
    }
    .myLove {
        height: 60vh;
        margin-top: 50px;
    }
    .gayPhoto1 {
        height: 20%;
        margin-top: 25px;
    }
    .gayPhoto2 {
        height: 600px;
        margin-top: 25px;
    }
    .gayText {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .kolyaImg {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .prImg {
        width: 120px;
        margin: 53px 50px 75px 60px;
    }
    .footerLoc {
        font-size: 24px;
    }
    .logoFooter {
        position: absolute;
        right: 60px;
        margin-top: -280px;
        color: whitesmoke;
        font-size: 55px;
        font-weight: 700;
    }
    .partnesrWr {
        margin-left: 150px;
    }
}

@media screen and (max-width: 1450px) {
    .myLove {
        height: 45vh;
        margin-top: 95px;
    }
}

@media screen and (max-width: 1300px) {
    .myLove {
        height: 40vh;
        margin-top: 95px;
    }
    .rotateImg {
        margin-left: -10px;
        margin-top: 25px;
    }
    .aboutAsstxt {
        font-size: 20px !important;
        padding-top: 40px;
    }
    .gayText {
        font-size: 18px;
    }
    .gayPhoto1 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .gayPhoto2 {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .flyingShit2 {
        font-size: 22px;
        margin-left: 300px;
    }
    .flyingShit {
        font-size: 22px;
        margin-left: 250px;
    }
    .prImg {
        width: 90px;
        margin: 53px 50px 75px 40px;
    }
    .footerCont div a {
        font-size: 28px;
        margin-top: 30px;
    }
    .logoFooter {
        right: 30px;
    }
}

@media screen and (max-width: 480px) {
    body {
        overflow-x: hidden;
    }
    .partnersScreen {
        overflow-x: hidden;
    }
    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        height: 80px;
        width: 100%;
        border-right: 3px solid black;
        background-color: whitesmoke;
        z-index: 100;
        border-bottom: 3px solid whitesmoke;
    }
    .logo {
        text-align: center;
        height: 60px;
        width: 100px;
        border-bottom: 3px solid black;
        background-color: black;
        margin-top: -40px;
        padding-bottom: 10px;
    }
    .logo a {
        color: whitesmoke;
        font-size: 25px;
        margin-top: -125px;
    }
    .navigation {
        display: flex;
    }
    .navLinks {
        display: none;
    }
    .logo2 {
        margin-top: -20px;
        margin-left: 30px;
    }
    .rotateImg {
        width: 120px;
    }
    .starterText {
        margin-left: 0;
        margin-top: 80px;
        width: 100%;
        background: url('https://cdn.prod.website-files.com/5f370e64e5ef2b186800c1c8/66ed96863879bf1aa2f18b6d_JPEG%20-%202048px%20for%20web%20use_100CANON%20copy.jpg');
        background-size: 660px 850px;
        background-position-x: center;
    }
    .w1,
    .w3 {
        font-size: 22px;
        height: 30px;
    }
    .aboutAss {
        margin-top: -105px;
        margin-left: 0;
        width: 100%;
        height: auto;
    }
    .avoutAssDiv {
        display: flex;
        height: 600px;
        flex-direction: column;
        background: url('https://s3-eu-west-1.amazonaws.com/digbmx/articles/_800x1202_crop_center-center_82_none/134580/P23_7304-copy-2.webp');
        background-size: 100% auto;
    }
    .myLove {
        display: none;
    }
    .aboutAsstxt {
        font-size: 12px !important;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 5px;
        margin-left: 220px !important;
        padding: 5px;
        margin-top: 85px !important;
    }
    .myLoveMob {
        display: block !important;
        position: absolute;
        top: 1110px;
        left: 20px;
        border-radius: 15px;
        width: 150px;
    }
    .gayTeam {
        width: 100%;
        margin-left: 0;
    }
    .gayPhoto {
        width: 90%;
        margin-left: 5%;
        border-radius: 15px;
    }
    .gayInfo {
        display: flex;
        flex-direction: column;
    }
    .gayText {
        width: 90%;
        margin-left: 5%;
        font-size: 18px;
    }
    .gayPhoto2 {
        height: 30%;
    }
    .deleteMob {
        display: none !important;
    }
    .zalupaScreen2 {
        width: 100%;
        margin-left: 0;
        margin-top: -10px;
    }
    .flyingShit2 {
        font-size: 12px;
        width: 150px;
    }
    .shitBox {
        width: 100%;
        margin-left: 0;
        margin-top: -10px;
    }
    .items_grid {
        display: none !important;
    }
    .items_gridMob {
        display: block !important;
    }
    .line11 {
        width: 80%;
        margin-left: 10%;
        padding-bottom: 20px;
    }
    .item {
        width: 45%;
    }
    .zalupaScreen {
        margin-left: 0;
        width: 100%;
    }
    .zalupaScreenImg {
        content: url('https://www.fatbmx.com/images/2024_10/2024_11/2024_012/pasha_sitko_0-3.jpg');
    }
    .flyingShit {
        font-size: 12px;
        width: 200px;
    }
    .partnersScreen {
        width: 100%;
        margin-left: 0;
    }
    .prImg {
        width: 50px;
    }
    .partners {
        margin-left: -150px;
    }
    .lastScreen {
        width: 100%;
        margin-left: 0;
    }
    .footerLoc {
        font-size: 12px;
    }
    .footerCont div a {
        font-size: 10px;
        padding-top: 20px;
    }
    .footer2wr div p {
        font-size: 14px;
    }
    .logoFooter {
        padding-top: 40px;
        font-size: 32px;
    }
}

.items_gridMob {
    display: none;
}

.deleteMob {
    display: block;
}

.myLoveMob {
    display: none;
}