* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
    font-family: "Instrument Sans", serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.navigation {
    position: fixed;
    top: 0;
    width: 20%;
    height: 100%;
    border-right: 3px solid black;
    background-color: whitesmoke;
    z-index: 10;
}

.logo {
    text-align: center;
    height: 215px;
    border-bottom: 3px solid black;
}

.logo span {
    font-size: xx-large;
    font-weight: 600;
    color: black;
    margin-top: 200px;
}

.logoImg {
    width: 100%;
    z-index: 0;
}

.w1,
.w3 {
    word-spacing: 7px;
    background-color: rgba(0, 0, 0, 1);
    color: whitesmoke;
    height: 70px;
    margin-top: 24%;
}

.box {
    position: absolute;
    margin-left: 45%;
    margin-top: 2000px;
    margin-bottom: 200px;
    width: 150px;
    height: 150px;
    background-color: black;
}

.starterText {
    width: 80%;
    height: 950px;
    font-size: 55px;
    font-weight: 700;
    margin-left: 20%;
    text-align: center;
    border-bottom: 3px solid black;
    background: url("https://www.luxbmx.com/cdn/shop/collections/632ad685a224470e6969b347_DSC04578.jpg?v=1714530034");
    opacity: 0.8;
}

.starterText:hover {}

.starterText {
    display: flex;
    justify-content: center;
}

.aboutAss {
    width: 80%;
    margin-top: 0;
    margin-left: 20%;
    background-color: black;
    min-height: 690px;
}

.myLove {
    width: 50%;
    border-radius: 15px;
    margin-top: 2%;
    z-index: 0;
}

.aboutAsss {
    font-size: xx-large;
    font-weight: 600;
    color: whitesmoke;
    margin-left: 50px;
    padding: 10px;
}

.aboutAssss {
    font-size: xx-large;
    font-weight: 700;
    color: whitesmoke;
    margin-left: 50px;
    padding: 10px;
}

.gayTeam {
    width: 80%;
    margin-left: 20%;
    color: black;
}

.mainContentGays {
    border-top: 3px solid whitesmoke;
    width: 100%;
    border-bottom: 3px solid whitesmoke;
    min-height: 400px;
}

.gayInfo {
    display: flex;
}

.gayPhoto {
    width: 600px;
}

.gayText {
    width: 40%;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}

.gayHeader {
    font-size: 24px;
    font-weight: 600;
    padding-top: 2%;
    padding: 2%;
    padding-left: 2%;
    width: 100%;
    border-bottom: 3px solid whitesmoke;
    border-top: 3px solid whitesmoke;
}

.shitBox {
    width: 80%;
    margin-left: 20%;
}

.imgImg {
    border-top: 3px solid black;
    width: 100%;
    border-bottom: 3px solid black;
}

.flyingShit,
.flyingShit2 {
    position: absolute;
    margin-top: -40%;
    margin-left: 15%;
    font-size: 32px;
    font-weight: 700;
    z-index: 10;
    background-color: rgba(0, 0, 0, 1);
    color: whitesmoke;
}

.mainContentGays {
    background-color: black;
}

.gayInfo,
.gayText,
.gayHeader {
    color: whitesmoke;
}

.items_grid {
    width: 90%;
    margin-left: 5%;
}

.item {
    width: 23%;
    margin: 1%;
    border: 3px solid black;
    min-height: 300px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
}

.item:hover {
    opacity: 0.6;
}

.item img {
    width: 100%;
    border-radius: 15px;
}

.descItem,
.priceItem {
    font-size: 24px;
    font-weight: 600;
    padding: 5px;
}

.line11 {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.shitBox {
    background-color: black;
}

.zalupaScreen,
.zalupaScreen2 {
    width: 80%;
    margin-left: 20%;
    height: auto;
}

.zalupaScreen2 img {
    width: 100%;
    opacity: 0.8;
}

.zalupaScreen img {
    width: 100%;
    opacity: 0.8;
}

.partnersScreen {
    margin-top: -5px;
    width: 90%;
    margin-left: 20%;
    height: auto;
    border-bottom: 3px solid black;
}

.partnesrWr {
    width: 80%;
    margin: 0 auto;
}

.partners {
    display: flex;
    flex-direction: row;
}

.prImg {
    width: 200px;
    margin: 5px 50px 75px 60px;
}